.tc{width:1000px;padding:50px 0;background:#fff;position:fixed;z-index:9996;left:50%;margin-left:-500px;top:200px;display: none;border-radius:5px;}
.tc_title{font-size:20px;color:#000;text-align: center;font-weight:bold;}
.tc_1,.tc_2{width:800px;margin:0 auto;font-size:16px;color:#555;margin-top:50px;}
.tc_l{float:left;width:350px;}
.tc_r{float:right;width:350px;}
.tc_p2{margin-top:30px;padding:20px;border-bottom:1px solid #666;color:#888;}
.tc_p2 input{border:none;display: block;width:100%;}
.tc_img{margin-top:30px;width:350px;height:200px;border:1px solid #666;}
.tc_btn{width:140px;height:60px;color:#fff;text-align: center;border-radius:30px;float:right;margin-top:80px;background:#29ade1;line-height:60px;cursor:pointer;}
.tc_btn:hover{opacity: 0.8;}
.tc_close{padding:5px;position:absolute;top:20px;right:20px;cursor:pointer;}

