/*.swiper-container{overflow:hidden;}
.swiper-container img{width:100%;display: block;}
.swiper-pagination-bullet{width:20px;height:2px;border-radius:5px;margin-left:5px;}
.swiper-pagination-bullet-active{background:#ffc019;width:30px;}
.swiper-button-next,.swiper-button-prev{width:20px;height:20px;margin-top:-10px;background:#c5c78b;color:#fff;line-height:17px;text-align:center;border-radius:10px;}
.swiper-button-next, .swiper-button-prev{background-size:100% auto;}
.swiper-pagination{width:28%;left:36%;}*/
/*#banner{padding:5px 8px 30px 8px;background:#fff;margin-bottom:5px;}*/
.row{padding:8px 10px 8px 5px;background:#fff;margin-bottom:4px;}
.number,.photo,.text{float:left;}
.number{width:14%;text-align: center;font-size:18px;line-height:38px;font-weight:800;}
.photo{width:16%;position:relative;}
.text{width:70%;font-size:13px;line-height:22px;text-align:center;}
.text p{text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.photo p{width:34px;height:34px;border-radius:17px;overflow:hidden;margin:0 auto;}
.photo p img{width:100%;}
.number img{width:28px;display: block;margin:0 auto;position:relative;top:5px;}
.text_1{float:left;width:50%;}
.text_2{float:right;width:50%;}
.name{font-weight:bold;}
.dan{display: block;position:absolute;top:30px;left:50%;width:34px;margin-left:-17px;}
.end{text-align: center;color:#999;font-size:12px;margin-top:20px;}
