/*.swiper-container{overflow:hidden;}
.swiper-container img{width:100%;display: block;}
.swiper-pagination-bullet{width:8px;height:8px;border-radius:4px;margin-left:5px;}
.swiper-pagination-bullet-active{background:#fff;}
.swiper-button-next,.swiper-button-prev{width:20px;height:20px;margin-top:-10px;background:#c5c78b;color:#fff;line-height:17px;text-align:center;border-radius:10px;}
.swiper-button-next, .swiper-button-prev{background-size:100% auto;}
.swiper-pagination{width:28%;left:36%;}*/
input::-webkit-input-placeholder{color:#ccc;}
input::-moz-input-placeholder{color:#ccc;}
input::-ms-input-placeholder{color:#ccc;}
input::input-placeholder{color:#ccc;}
#banner{padding-top:5px;background:#fff;}
#hint,.section{background:#fff;padding:5px 2% 5px 10%;font-size:12px;color:#555;position:relative;}
#hint{margin:2px 0;}
#hint img, .s1_p1 img{width:12px;position:absolute;top:7px;left:4%;}
.section_1 img{top:14px;}
.section_2 img{top:12px;}
.section{padding:10px 2% 10px 10%;background:#fff;margin-bottom:4px;font-size:13px;color:#555;}
.section_1{line-height:24px;padding-right:4%;}
.s1_p1{float:left;}
.s1_p2{float:right;text-align: right;}
.section_2{height:50px;}
.s2_p2{position:absolute;right:15px;top:10px;padding-right:20px;}
.bz{width:70%;float:right;}
.bz textarea{width:98%;padding:1%;min-height: 20px;border:none;text-align: right;height:28px;outline: none;resize:none;}
.s2_p2 input{display: block;border:0;outline:0;text-align: right;padding:5px 0;;}
.s3_p1{line-height:24px;}
.s3_p1 img{top:15px;}
.section .s2_p2 img{width:6px;position:absolute;right:0px;top:7px;}
.section_4{height:23px;line-height:21px;}
.s5_p2{padding-right:40px;}
.s5_p2 span{position:absolute;right:12px;top:1px;}
.s4_p1 img{top:15px;}
.s6_p1 img{top:15px;}
input[type="submit"]{width:98%;color:#fff;background:#ffc019;border:0;height:40px;margin:0 auto;display: block;border-radius:5px;margin-top:10px;letter-spacing:10px;text-align: center;font-size:14px;}
#kd_popup{width:98%;position:fixed;top:20%;left:1%;border-radius:10px;overflow: hidden;z-index:9992;display: none;}
#kd_bg{width:100%;height:100%;position:absolute;top:0;left:0;background:#000;opacity: 0.7;}
#kd_content{padding:20px 4%;position:relative;z-index:9993;}
.kd_title,.kd_p1{font-size:14px;color:#ffc019;}
.kd_title{text-align:center;}
.kd_p1{text-align:left;margin-top:15px;}
.kd_p1 span{float:right;padding-right:10px;}
.kd_p1 span img{display: block;width:18px;}
#kd_content input{display: block;border:0;border-radius:5px;width:98%;margin-top:10px;padding:10px 0 10px 2%;}
.ok{width:50%;margin:0 auto;text-align:center;padding:10px 0;margin-top:20px;background:#ffc019;border-radius:6px;color:#fff;font-size:13px;}
/*地址插件样式调整*/
.toolbar .toolbar-inner{height:40px;}
.toolbar, .toolbar .title{font-size:14px;line-height:40px;}
.weui-picker-modal .picker-items{font-size:16px;}
.weui-picker-modal .picker-item.picker-selected{color:#000;}
.toolbar .picker-button{height:40px;line-height:40px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:1px;}
